
@{
    ViewData["Title"] = "Home Page";
}
@model HomeVM

<section style="background-color: #ffff;">
    <div class="container">
        <div class="row">
            <div>


                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        @foreach (Slider slider in Model.Sliders)
                        {

                            <div class="carousel-item active">
                                <img src="~/img/@slider.Image" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="font-family: 'Noto Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 33px;
          width:74%;
          text-align: left;
          color: #FFFFFF;">
                                        @slider.Title
                                    </h5>
                                    <a asp-controller="Home" asp-action="DetailSlider" asp-route-id="@slider.Id" class="btn" style="    background: #F186B6;
                                        padding: 9px 52px 32px 52px;
                                        border-radius: 25px;
                                        float: right;
                                        /* width: 146px; */
                                        height: 32px; color:#FFFFFF;">Ətraflı bax</a>
                                </div>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="container my-5" id="CustomerGrid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 my-4">
                <h1 style="font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                margin-bottom: 60px;
                 margin-top: 30px;


                color: #383838;">
                    Əmək müqaviləsinin faydaları:
                </h1>
                <div class="row" id="myList">
                    @foreach (Contract contract in Model.Contracts)
                    {
                        <div class="col-md-3 col-sm-12 my-3 kart">
                            <div class="box d-flex p-4 h-100 flex-column text-center " style="width: 18rem;border:none;background-color: #F3F3F3; border-radius:10px;">

                                @*<div class="card-body" style="background: #F3F3F3;
                                    border-radius: 10px;  width: 298px;
                                    height: 368px;">*@
                                <div class="text-center h-75 my-5">
                                    @Html.Raw(contract.Svg)


                                    <p class="card-text" style="margin-top: 55px;
                                text-align: center;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 22px;
                                text-align: center;
                                color: #383838;">
                                        @contract.Text
                                    </p>
                                </div>

                                <a href="javascript:;" data-id="@contract.Id" class="btn details  mt-auto"
                                   style="background-color:#00AAE2;border-radius:25px;padding: 6px 60px; margin-top:60px;">
                                    Ətraflı
                                    bax
                                </a>


                            </div>
                        </div>
                        @*</div>*@
                    }
                    @await Component.InvokeAsync("Modal")

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 my-5 d-flex justify-content-end">
                    <a asp-controller="Contract" asp-action="Index" class=" btn btn-info text-decoration-none " style="font-family: 'Noto Sans';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: right;
                    color: #F3F3F3;">
                        Hamısına bax
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row my-5 py-5">
            <div class="col-md-12">
                <h1 style="
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 33px;
                color: #383838;">
                    Sənəd nümunələri:
                </h1>
                <div class="row ">
                    @foreach (Document doc in Model.Documents)
                    {

                        <div class="col-md-4 my-3 d-flex justify-content-center">
                            <div style="height: 100px;width: 400px; background-color:#FFFFFF; border-radius:10px;">
                                <div style="width: 100px; height: 100px; background: linear-gradient(180deg, #00AAE2 0%, #007DA6 100%); float: right; border-top-right-radius: 10px;border-bottom-right-radius: 10px;">
                  
                                    <a asp-action="Download" asp-route-id="@doc.Id" style="  justify-content: center;
                                align-items: center;display: flex;    height: 90px;">
                                        <svg style="    left: 30%;
                                   " width="52" height="52" viewBox="0 0 52 52" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M49.4 31.2C48.7104 31.2 48.0491 31.4739 47.5615 31.9615C47.0739 32.4491 46.8 33.1104 46.8 33.8V44.2C46.8 44.8896 46.5261 45.5509 46.0385 46.0385C45.5509 46.5261 44.8896 46.8 44.2 46.8H7.8C7.11044 46.8 6.44912 46.5261 5.96152 46.0385C5.47393 45.5509 5.2 44.8896 5.2 44.2V33.8C5.2 33.1104 4.92607 32.4491 4.43848 31.9615C3.95088 31.4739 3.28956 31.2 2.6 31.2C1.91044 31.2 1.24912 31.4739 0.761522 31.9615C0.273928 32.4491 0 33.1104 0 33.8V44.2C0 46.2687 0.821784 48.2526 2.28457 49.7154C3.74735 51.1782 5.73131 52 7.8 52H44.2C46.2687 52 48.2526 51.1782 49.7154 49.7154C51.1782 48.2526 52 46.2687 52 44.2V33.8C52 33.1104 51.7261 32.4491 51.2385 31.9615C50.7509 31.4739 50.0896 31.2 49.4 31.2ZM24.154 35.646C24.4013 35.8827 24.6928 36.0683 25.012 36.192C25.3232 36.3296 25.6597 36.4006 26 36.4006C26.3403 36.4006 26.6768 36.3296 26.988 36.192C27.3072 36.0683 27.5987 35.8827 27.846 35.646L38.246 25.246C38.7356 24.7564 39.0106 24.0924 39.0106 23.4C39.0106 22.7076 38.7356 22.0436 38.246 21.554C37.7564 21.0644 37.0924 20.7894 36.4 20.7894C35.7076 20.7894 35.0436 21.0644 34.554 21.554L28.6 27.534V2.6C28.6 1.91044 28.3261 1.24912 27.8385 0.761522C27.3509 0.273928 26.6896 0 26 0C25.3104 0 24.6491 0.273928 24.1615 0.761522C23.6739 1.24912 23.4 1.91044 23.4 2.6V27.534L17.446 21.554C17.2036 21.3116 16.9158 21.1193 16.599 20.9881C16.2823 20.8569 15.9428 20.7894 15.6 20.7894C15.2572 20.7894 14.9177 20.8569 14.601 20.9881C14.2842 21.1193 13.9964 21.3116 13.754 21.554C13.5116 21.7964 13.3193 22.0842 13.1881 22.4009C13.0569 22.7177 12.9894 23.0572 12.9894 23.4C12.9894 23.7428 13.0569 24.0823 13.1881 24.399C13.3193 24.7158 13.5116 25.0036 13.754 25.246L24.154 35.646Z"
                                                  fill="white" />
                                        </svg>

                                    </a>
                                </div>
                                <h2 style="font-family: 'Noto Sans';
                              font-style: normal;
                              font-weight: 500;
                              font-size: 16px;
                              line-height: 22px;
                              width: 49%;
                              margin-left: 10px;
                              display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 85px;
                              color: #383838;">
                                    @doc.Title

                                </h2>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-12 " style="padding-bottom:80px;">
                        <h1 class="my-5" style="
                         font-family: 'Noto Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 33px;
                            color: #383838;">
                            Faydalı məlumat qaleriyası:
                        </h1>
                    </div>
                </div>


            </div>


        </div>

    </div>
    <div class="container-fluid" style="background-color:#00AAE2;">
        <div class="container">
            <div class="owl-carousel owl-theme  aboutslider"  style="">
                @foreach (AboutSlider aboutSlider in Model.AboutSliders)
                {

                    <div class="item">

                        <img src="~/img/@aboutSlider.Image"  style="display:flex;justify-content:space-around;position:relative;">
                    </div>
                }
            </div>
        </div>
    </div>
</section>
