
@{
    ViewData["Title"] = "Index";
}

@model GeneralInformation
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body ">
                <div class="d-flex justify-content-end">
                    @*<a asp-action="Create" class="btn btn-outline-info  btn-rounded">Create</a>*@
                </div>
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th class="w-25">
                                    Image
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Statuse
                                </th>
                                <th class=" d-flex justify-content-end">
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                                <tr>

                                    <td>
                                        <img src="~/img/@Model.Image" class="w-50" />
                                    </td>
                                    <td>

                                        @Model.Title.Substring(0,50)...
                                        @*@item.Title*@
                                    </td>
                                    <td>
                                        @if (Model.IsDeactive)
                                        {
                                            <div>Aktiv</div>
                                        }
                                        else
                                        {
                                            <div>Deaktiv</div>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-info  btn-rounded" asp-action="Detail" asp-route-id="@Model.Id">Detail</a>
                                        @if (Model.IsDeactive)
                                        {
                                            <a class="btn btn-outline-success  btn-rounded" asp-action="Activity" asp-route-id="@Model.Id">Activate</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-outline-danger  btn-rounded" asp-action="Activity" asp-route-id="@Model.Id">Deactivate</a>
                                        }

                                        <a class="btn btn-outline-success  btn-rounded" asp-action="Update" asp-route-id="@Model.Id">Update</a>
                                    </td>

                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

